*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          text-decoration:none;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group::before,
.group::after {
  content: "";
  display: table;
}
.group::after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

body{
  font: 300 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:0;
}

h3{
 display: inline-block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*
  ========================================
  Container
  ========================================
*/

.container {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  width: 960px;
}

/*
  ========================================
  Заголовок
  ========================================
*/

.top{
  width: auto;
  background-color: #03474c;
} 

.top-content{
  display: flex;
  justify-content: space-between;
}

.logo-content{
  display: inline-block;
}

/*
  ========================================
  Лого
  ========================================
*/

.style-logo {
  border-top: 4px solid white;
  padding: 5px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.text {
  font-size: 27px;
  color: white;
}

/*
  ========================================
  Навигацыя
  ========================================
*/

.navigate-content-up{
  margin-top: 18px;
  display: inline-block;
}

.navigate-content-down{
 margin: 18px 0px 18px 0px; 
 display: inline-block;
}

.nav{
  color:white;
  border-radius: 5px;
  margin-right: 5px;
  padding: 5px;
}

.nav:hover{
  box-shadow:0px 0px 6px black;
}

/*
  ========================================
  Регистрацыя
  ========================================
*/

:-webkit-any(article,aside,nav,section) 
:-webkit-any(article,aside,nav,section) h1 {
    font-size: 1.17em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.con{
 padding: 0px 30px 0px 30px;
 margin: 0 auto;
 width:660px;
}

.row-alt{
  padding-top: 20px;
}

.caption{
 padding-top:5px ;
 font-size: 30px;
 color: #03474c;
}

.lead{
  border-radius: 10px;
  border: 3px outset #C3C3C3;
  background-color: #eaeaea;
  text-align: center;
}

.undercaption-register{
  color:#5d5d5d;
}

/*
  ========================================
  Билеты
  ========================================
*/

.row{
 margin: 0 auto;
 padding: 70px 0px 70px 0px;
 display: flex;
 justify-content: space-between;
 justify-content: center;
}

.col-1-2{
 
}

.ticket-undercaption1,
.ticket-undercaption2,
.why-attend-caption{
  display: inline-block;
  border: 2px outset ;
  border-radius: 5px;
  background-color: #eaeaea;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start:0px;
  margin-inline-end: 0px;
}

.ticket-undercaption1{
  color: #03474c;
}

.ticket-undercaption2{
  color:#6a6a6a;
  margin-top:10px;
}

.why-attend-caption{
  color: #03474c;
}

.text-ticket-buy{
  color:#5d5d5d;
  margin-bottom: 50px; 
}
.why-attend{
  color:#5d5d5d;
  padding-inline-start: 25px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.why-attend li{
  margin: 2px;
}

/*
  ========================================
  Заказ билетов
  ========================================
*/
.col-2-2{
 padding: 0px 60px 0px 60px
}

.register-group{
  color: #03474c;
  width: 50px;
  height: auto;
}

.register-group select{
}

.register-group input{
  
}

.register-group input,
.register-group select,
.register-group textarea{
  border:2px solid #5d5d5d;
  display: block;
  margin: 5px 0 20px 0;
  border-radius: 5px;
  padding: 5px 8px;
}

.button-buy-ticket{
  width: 120px;
  height: 35px;
  border-radius: 5px;
  color: #03474c;
  background-color: #eaeaea;
}

.button-buy-ticket:hover{
  color: white;
  background-color: #356b6f;
 
}

fieldset{
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 0em;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
    min-inline-size: default;
    border-width: 0px;
    border-style: none;
    border-color: none;
    border-image: none;
}

/*
  ========================================
  Основной подвал
  ========================================
*/

.down-content{
  display: flex;
  justify-content: space-between;
}

.footer{
  width: auto;
  background-color: #03474c;
}

.logo-company{
  display: flex;
}

.graficlogo{
  margin: 5px 5px 0px 0px;
  border-radius:50%;
}

.graficlogo:hover{
  box-shadow: 0px 0px 10px black;
}

.logotext{
  margin-top:20px;
}

.copy{
  float: left;
  text-align: center;
}

.social{
  margin-right: 20px;
}

.img{
  float: right;
}

.img:hover{
 border-radius: 40%;
 background-color:white;
}
