*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          text-decoration:none;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group::before,
.group::after {
  content: "";
  display: table;
}
.group::after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

body{
  font: 300 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin:0;
}

/*
  ========================================
  Container,all-content
  ========================================
*/

.container {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  width: 960px;
}

.all-content{
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}

/*
  ========================================
  Заголовок
  ========================================
*/

.top{
  width: auto;
  background-color: #1c595d;
} 

.top-content{
  display: flex;
  justify-content: space-between;
}

.logo-content{
  display: inline-block;
}

/*
  ========================================
  Лого
  ========================================
*/

.style-logo {
  border-top: 4px solid white;
  padding: 5px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.text {
  padding-top: 5px; 
  max-width: 150px;
  max-height: 150px;
  font-size: 27px;
  color: white;
}

/*
  ========================================
  Кнопки
  ========================================
*/

.btn {
  display: inline-block;
  margin: 0;
}

.btn-alt {
  border: 3px solid #dfe2e5;
  padding: 10px 30px;
  background: #eaeaea;
  color: #03474c;
  border-radius: 5px;
}

.btn-alt:hover{
  color:white;
  background: #356b6f;
}

/*
  ========================================
  Основная страница
  ========================================
*/

.hero {
  padding: 22px 80px 66px 80px;
}


/*
  ========================================
  Разметка
  ========================================
*/

.caption{
  color: #1c595d;
}

.under-caption{
  color: #356b6f;
}

.col{
  display: flex;
  justify-content: center;
  padding-bottom: 66px;
}

.col-1-3 {
  display: inline;
  max-width: 270px;
  border: 2px solid #dfe2e5;
  border-radius: 20px;
  margin-right: 10px;
  color:#858585;
  padding: 5px;
}

.col-1-3:hover{
  border:2px solid #03474c;
}

.col-1-3 img{
  border-radius: 5px;
  border: 2px solid #a4bcbe;
}

.col-1-3 a{
  color: #6a6a6a;
}

/*
  ========================================
  Навигацыя
  ========================================
*/

.navigate-content-up{
  align-self: center;
  display: inline-block;
}

.navigate-content-down{
 margin: 18px 0px 18px 0px; 
 display: inline-block;
}

.nav{
  color:white;
  border-radius: 5px;
  margin-right: 5px;
  padding: 5px;
}

.nav:hover{
  box-shadow:0px 0px 6px black;
}

/*
  ========================================
  Основной подвал
  ========================================
*/

.down-content{
  display: flex;
  justify-content: space-between;
}

.footer{
  width: auto;
  background-color:#1c595d;
  margin-top: auto;
}

.logo-company{
  display: flex;
}

.graficlogo{
  margin: 5px 5px 0px 0px;
  border-radius:50%;
}

.graficlogo:hover{
  box-shadow: 0px 0px 10px black;
}

.logotext{
  margin-top:20px;
}

.copy{
  float: left;
  text-align: center;
}

.social{
  margin-right: 20px;
}

.img{
  float: right;
}

.img:hover{
 border-radius: 40%;
 background-color:white;
}